.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 20px; */
    width: 100%;
    height: fit-content;
    border-top: 3px solid black;
  }

.footInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* min-width: 500px; */
    /* margin-left: 10%; */
    /* border: thin solid red; */
    min-width: 250px;
    width: 40%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .ToS {
  margin-left: 20px; 
  margin-top: 30px;
}


/* For screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .ToS {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footInfo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .footInfo .contact, .footInfo .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
