.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
  

  select {
      display: inline-block;
      width: 150px;
      cursor: pointer;
      padding: 10px 15px;
      outline: 0;
      border: 0;
      border-radius: 0;
      background: #E6E6E6;
      color: #7B7B7B;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      
      
    }
    select:-ms-expand {
        display: none;
    }
      
    
    select:hover,
    select:focus {
        color: #000000;
        background: #CCCCCC;

    }
  
    select:disabled{
        opacity: 0.5;
        pointer-events: none;
    }
      
.select__arrow {
    position: absolute;
    top: 13px;
    left: 130px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7B7B7B transparent transparent transparent;

}
  
  .select select:hover,
  .select select:focus {
      border-top-color:#000000;
  }
  
  .select select:disabled {
      border-top-color:#CCCCCC 
  }