
.userProfile {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: left;
	border-radius: 5px;
	overflow: hidden;
    margin: auto;
	height: fit-content;
	max-width: 550px;
    margin-top: 2em;
    padding: 25px;
}

.userProfile h1 {
    text-align: center;
}


.prevContainer h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.prevContainer table {
    width: 100%;
    border-collapse: collapse;
}

.prevContainer th, .prevContainer td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.prevContainer th {
    background-color: #f2f2f2;
}

.prevContainer tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Default style for the background image */
.home-container {
    background-image: url("../images/pexels-ella-olsson-1640777(1).jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -100px; */
  }
  