
.userProfile {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: left;
	border-radius: 5px;
	overflow: hidden;
    margin: auto;
	height: 400px;
	width: 300px;
    margin-top: 2em;
    padding: 25px;
}