.summary {
    min-width: 280px;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    line-height: 30px;
}