/* .OrderForm {
    margin-bottom: 40px; 
    margin-top: 45px; 
    height: fit-content;

}

.OrderDetails {
    padding-right: 10px;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

.OrderForm .OrderDetails h1 {
    margin-top: 15px;
    color: #345900;
}

.OrderForm .OrderDetails textarea {
    width: 90%;
    height: 70px; 
    resize: none; 
    overflow-y: scroll; 
    padding: 3px; 
    font-family: 'sans-serif';
    font-size: 14px;
}

.OrderForm .OrderDetails input {
    background: white; 
    border: thin solid black; 
    width: 66%;

}

.OrderForm .OrderDetails p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    max-width: 600px;
}

.OrderView {
    width: 100%;
}

.OrderView h1 {
    margin-top: 15px;
    color: #345900;
}

.OrderView ul {
    text-align: right; 
    width: 50%; 
    list-style-type: none;
}

.listBtn {
    margin-left: 5px; 
    vertical-align: right; 
    cursor: pointer;
} */