/* shared styles for login and registration forms */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    /* background-color: #ffffff; */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333333;
  }
  
  .form-container label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333333;
  }
  
  .form-container input[type='text'],
  .form-container input[type='email'],
  .form-container input[type='tel'],
  .form-container input[type='password'] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  }
  
  .form-container button[type='submit'] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .form-container a {
    margin-top: 0.5rem;
    color: #333333;
    font-size: 0.875rem;
    text-decoration: none;
    cursor: pointer;
  }

.comments {
  font-family: sans-serif;
  line-height: 35px;
}
  