.OrderForm {
    margin: 40px auto;
    width: 80%;
    max-width: 1000px;
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .OrderDetails {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .OrderDetails h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1b5e20;
  }
  
  .OrderDetails textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1b5e20;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .submitBtn {
    /* width: 100px;
    height: 40px; */
    background-color: #1b5e20;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .listBtn {
    background-color: #1b5e20;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }
  
  .OrderView {
    margin-top: 20px;
  }
  
  .OrderDetails ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .OrderDetails li {
    background-color: #c8e6c9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  hr {
    margin-top: 40px;
    border-color: #1b5e20;
  }
  
  .OrderView input[type="text"], input[type="tel"] {
    width: 150px;
    height: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1b5e20;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .additionalInfo {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1b5e20;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    font-family: sans-serif;
  }  

  /* For screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  .OrderForm {
    margin: 20px auto;
    width: 90%;
    padding: 20px;
  }
  
  .OrderDetails h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .OrderView textarea {
    height: 120px;
    font-size: 14px;
    width: 80%;
  }
  
  .submitBtn {
    font-size: 14px;
  }
  
  .listBtn {
    font-size: 14px;
    float: none;
    display: block;
    margin: 10px auto;
  }
  
  li {
    padding: 5px;
    margin-bottom: 5px;
  }
  
  hr {
    margin-top: 20px;
  }
  
  .additionalInfo {
    height: 120px;
    font-size: 14px;
    width: 90%;
  }
}

/* For screens with a maximum width of 260px */
@media only screen and (max-width: 260px) {
  .OrderForm {
    margin: 10px auto;
    width: 90%;
    padding: 10px;
  }

  .OrderDetails h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .OrderView textarea {
    height: 80px;
    font-size: 12px;
    width: 80%;
  }

  .submitBtn {
    font-size: 12px;
  }

  .listBtn {
    font-size: 12px;
    float: none;
    display: block;
    margin: 5px auto;
  }

  li {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 12px;
  }

  hr {
    margin-top: 10px;
  }

  .OrderView input[type="text"], input[type="tel"] {
    width: 100px;
    height: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;
  }

  .additionalInfo {
    height: 80px;
    font-size: 12px;
    width: 90%;
  }
}

@media only screen and (max-width: 460px) {
  .OrderDetails textarea {
    width: 80%;
  }
  
  .additionalInfo {
    width: 80%;
  }
}